header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 97vw;
  padding-right: 100vw;
}
#projects {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 30vh;
}
button {
  background: purple;
  color: white;
  border-radius: 10px;
}
#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  width: 100vw;
  height: 100vh;
}
#about {
  text-align: center;
  height: 220px;
  height: 50vh;
  align-items: center;
}
#contact {
  text-align: center;
  height: 50vh;
  margin-top: 10%;
}
a {
  text-decoration: none;
}
.p1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(234, 168, 180);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
#h2 {
  text-align: center;
  margin: 0vh;
  border: 0vh;
}
img {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  margin-top: 60px;
  margin-right: 250px;
  border-radius: 50%;
}
#content {
  padding: 100px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 20px;
}
body {
  background: linear-gradient(to right, rgb(230, 163, 174), rgb(228, 59, 228));
}
#p {
  line-height: 16px;
}
#c {
  line-height: 10px;
}
#Skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.s1 {
  background-color: rgb(233, 171, 181);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
